<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale = 1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="/static/css/styles2.css">
</head>
<body>
    <header>
        <h1>Wallet</h1>
        <h3>Welcome, {{user.username}}</h3>
        <h4>Balance: {{user.bal}}</h4>
    </header>
    <form method="POST" action="{{  url_for('wallet_view')  }}">
        <label>Amount: </label>
        <input type="number" name="amount" step="0.01">
        <button type="submit" name="deposit">Deposit</button>
        <button type="submit" name="withdraw">Withdraw</button>
    </form>
</body>
</html>